# start hextris when xbox controller gets turned on, run loop all when turned off
ACTION=="add", SUBSYSTEM=="input", ENV{DEVNAME}=="/dev/input/js0", MODE="666", RUN+="/bin/systemctl restart frozen-bottle-hextris.service"
ACTION=="remove", SUBSYSTEM=="input", ENV{DEVNAME}=="/dev/input/js0", RUN+="/bin/systemctl restart frozen-bottle-loop-all.service"
