[Unit]
Description=Frozen Bottle Loop All Clients
Conflicts=frozen-bottle-loop-all.service

[Service]
Type=simple
User=labor
Group=labor
WorkingDirectory=/home/labor/GIT_FrozenBottle
ExecStart=UDP_clients/loop_all.sh
