[Unit]
Description=Frozen Bottle UDP Server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/home/labor/GIT_FrozenBottle/UDP_2_ser_server/server_rpi.py
Restart=always

[Install]
WantedBy=multi-user.target
