[Unit]
Description=Frozen Bottle Hextris
Conflicts=frozen-bottle-loop-all.service

[Service]
Type=simple
User=labor
Group=labor
WorkingDirectory=/home/labor/GIT_FrozenBottle
ExecStart=UDP_clients/tetris.py localhost
